@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Raleway');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-header {
  background-color: #4E342E;
  padding: 10px;
  color: white;
  display: flex;
  z-index: 100;
  position: fixed;

}

.App-logo img{
  height: 80px;
}
.App-brand{
  flex: auto;
  text-align: left;
  margin: auto;
}
.App-brand .name{
  font-size: 1.5em;
  padding-bottom: 5px;
  font-family: 'Baloo Thambi', cursive;
}
.App-brand .moto{
  font-size: 1em;
  font-style: italic;
  font-weight: 100;
}
.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
